# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

## Build 결과물
MoreCreatures/MoreCreatures/x64/Debug/
MoreCreatures/x64/Debug/
[Bb]in/
[Obj]/

## Visual Studio 개인 설정 및 캐시
.vs/
*.user
*.userosscache
*.sln.docstates
*.tlog